#downloadhref{
    float: right !important;
    width: 95%;
    background-color: #3273dc;
}

#title{
    display: block;
    margin-top: 1em;
    font-size: 2em;
    text-align: center;
    letter-spacing: 0.2em;
}